@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply bg-white text-gray-900 transition-colors duration-300;
    }

    .dark body {
        @apply bg-gray-900 text-gray-100;
    }
}
